/* BODY  */
body{
    height: 100%;
    width: 100%;
}

h1{font-size: 100%;}
p{font-size: 100%;}

/* BODY  */

/* HEADER  */
#top {
    height: 30%;
    width: 100%;
    border:#000 solid thin;
}
.header-img{
    height: 50%;
    width: 50%;
}

/* HEADER */

/* MAIN   */
#main {
    height: 65%;
    width: 100%;
    border:#000 solid thin;
}









/* MAIN */

/* FOOTER   */

div.footer {
    height: 5%;
    width: 100%;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow); /* Standard syntax (must be last) */
}







/* FOOTer */